/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}


/* Body Background (Instagram Gradient) */

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(
        135deg,
        #833ab4,
        #fd1d1d,
        #fcb045
    );
}


/* Main Container */

.main-container{
    width:350px;
}


/* Login Box */

.login-box{
    background:white;
    border-radius:10px;
    padding:40px 30px;
    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}


/* Logo */

.logo{
    font-family:cursive;
    font-size:40px;
    margin-bottom:30px;

    background: linear-gradient(
        45deg,
        #833ab4,
        #fd1d1d,
        #fcb045
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Inputs */

input{
    width:100%;
    padding:11px;
    margin:8px 0;

    background:#f5f5f5;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:14px;
}

input:focus{
    outline:none;
    border-color:#fd1d1d;
    background:white;
}


/* Button */

button{
    width:100%;
    border:none;
    padding:11px;
    margin-top:12px;

    background: linear-gradient(
        45deg,
        #833ab4,
        #fd1d1d,
        #fcb045
    );

    color:white;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;

    transition:0.3s;
}

button:hover{
    opacity:0.85;
    transform:scale(1.02);
}


/* Divider */

.divider{
    display:flex;
    align-items:center;
    margin:22px 0;
    color:#777;
    font-size:13px;
}

.divider hr{
    flex:1;
    border:none;
    height:1px;
    background:#ddd;
}

.divider span{
    margin:0 10px;
}


/* Facebook Login */

.fb-login{
    color:#1877f2;
    font-weight:bold;
    font-size:14px;
    cursor:pointer;

    transition:0.3s;
}

.fb-login:hover{
    text-decoration:underline;
}


/* Forgot Password */

.forgot{
    margin-top:15px;
    font-size:12px;
    color:#555;
    cursor:pointer;
}

.forgot:hover{
    color:#fd1d1d;
}


/* Signup Box */

.signup-box{
    background:white;
    border-radius:10px;
    margin-top:15px;
    padding:20px;

    text-align:center;
    font-size:14px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.signup-box a{
    color:#fd1d1d;
    text-decoration:none;
    font-weight:bold;
}

.signup-box a:hover{
    text-decoration:underline;
}
